.container {
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  min-height: 100%;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  background-image: "linear-gradient(to right, #e0dede, #d3d3d3)";
  -webkit-text-fill-color: "transparent";
  background-size: "cover";
  color: white;
  font-size: 24px;
}

.text {
  color: white;
  font-size: 24px;
}

